settings:
  title: 'Services Monitoring - FACEIO Status Dashboard'
  url: 'https://status.faceio.net' # used for Slack messages
  logo: logo.png # image in ./public/ folder
  daysInHistogram: 90 # number of days you want to display in histogram
  collectResponseTimes: true # experimental feature, enable only for <5 monitors or on paid plans

  allmonitorsOperational: 'All Services Operational'
  notAllmonitorsOperational: 'Partial Service(s) disruption'
  monitorLabelOperational: 'Operational'
  monitorLabelNotOperational: 'Ongoing Issue'
  monitorLabelNoData: 'No data'
  dayInHistogramNoData: 'No data'
  dayInHistogramOperational: 'All Set'
  dayInHistogramNotOperational: ' incident(s)' # xx incident(s) recorded

monitors:
  - id: widget-faceio # unique identifier
    name: 'FACEIO Widget Routing'
    description: 'Widget Routing & Instantiation Endpoint'
    url: 'https://widget.faceio.net/status/' # URL to fetch
    method: GET # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false

  - id: faceio-console
    name: 'FACEIO Console'
    description: 'FACEIO Web Administration Dashboard'
    url: 'https://console.faceio.net/status/'
    method: GET
    expectStatus: 200

  - id: faceio-cdn
    name: 'FACEIO CDN'
    description: 'FACEIO Content Delivery Network (CDN)'
    url: 'https://cdn.faceio.net/'
    method: GET
    expectStatus: 200
    
  - id: blog-pixlab
    name: 'The PixLab/FACEIO Blog'
    description: 'Official PixLab | Symisc Systems Blog - Artificial Intelligence News & Resources.'
    url: 'https://blog.pixlab.io/'
    method: GET
    expectStatus: 200
